@charset "UTF-8";
body {
  background: rgb(37, 46, 51);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
}

.planet, .moon {
  margin-top: 1em;
  background-color: rgb(0, 0, 0);
  border-style: solid;
  border-color: rgb(129, 129, 129);
  padding: 1em;
}

.flora, .trait, .biome {
  margin-left: 1em;
}

summary {
  color: gray;
  text-transform: uppercase;
  font-size: large;
  padding: 0.2em;
}
summary > .last {
  color: white;
  text-decoration: underline;
}

.quickfacts {
  margin-top: 1em;
}

details summary {
  cursor: pointer;
}

summary:hover {
  background-color: rgba(255, 255, 255, 0.13);
}

summary > * {
  display: inline;
}

summary > *:not(.last):not(.debug):after {
  content: " → ";
}

.debug {
  margin-left: 1em;
  color: rgba(255, 238, 0, 0.24);
}

.trait_img {
  height: 2em;
  margin-right: 0.5em;
}

.trait {
  display: flex;
  align-items: center;
}

.temperature[data-temp_lvl="0"] {
  color: rgb(34, 104, 255);
}
.temperature[data-temp_lvl="0"]::after {
  content: " (Deep Freeze)";
}

.temperature[data-temp_lvl="1"] {
  color: rgb(34, 166, 255);
}
.temperature[data-temp_lvl="1"]::after {
  content: " (Frozen)";
}

.temperature[data-temp_lvl="2"] {
  color: rgb(34, 255, 218);
}
.temperature[data-temp_lvl="2"]::after {
  content: " (Cold)";
}

.temperature[data-temp_lvl="3"] {
  color: rgb(102, 255, 0);
}
.temperature[data-temp_lvl="3"]::after {
  content: " (Temperate)";
}

.temperature[data-temp_lvl="4"] {
  color: rgb(255, 167, 34);
}
.temperature[data-temp_lvl="4"]::after {
  content: " (Hot)";
}

.temperature[data-temp_lvl="5"] {
  color: rgb(255, 102, 0);
}
.temperature[data-temp_lvl="5"]::after {
  content: " (Scorched)";
}

.temperature[data-temp_lvl="6"] {
  color: rgb(255, 0, 0);
}
.temperature[data-temp_lvl="6"]::after {
  content: " (Inferno)";
}

.hidden {
  display: none;
}
