@font-face {
    font-family: "ProFontWindows V1";
    src: url("ProFontWindows V1.woff2")format("woff2")
}

.label {
    color: #ffffff;
    font-family: 'ProFontWindows V1', Arial, Helvetica, sans-serif;;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.label:hover, .forcedhover{
    background-color: rgba(255, 255, 255, 0.3);
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
#glContainer{
    flex-grow: 1;
    position: relative;
}
/* body { margin: 0; } */