<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>starfieldmap.io</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="icon" href="favicon.ico" />
	</head>
	<body>
        <div id="systems">
            {% for system in systems %}
            <div data-name="{{ system.name }}" class=system>
                <div class="name">{{ system.name }} system (Level {{system.level}}; {{system.formid}})</div>
                
                <div class="planets">
                    {% for planet in system.planets %}
                        {{planet.planet_str}}

                        <div class="moons">
                        {% for moon_str in planet.moons_strings %}
                            {{moon_str}}
                        {% endfor %}
                        </div>
                    {% endfor %}

                </div>
            </div>
            
            {% endfor %}
        </div>
	</body>
</html>
