<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>starfieldmap.io</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="main.js"></script>
        <link rel="icon" href="favicon.ico" />
	</head>
	<body>
        <input style="width: 100%;" id="search" placeholder="Partial body name" autocomplete="off">
        <div id="search_result">1692 results</div>
        <div id="bodies">

            {% for body in bodies %}
            <details id="{{body.name}}" data-lowercase_name="{{body.lowercase_name}}" data-type={{body.class}} class="{{body.class}}">
                <summary>
                    {% for nav_item in body.nav %}
                        {% if loop.is_last %}
                        <div class="last">{{nav_item}}</div>
                        {% else %}
                        <div>{{nav_item}}</div>
                        {% endif %}
                    {% endfor %}
                    <div class="debug">({{body.formid}})</div>
                </summary>
                <div class="quickfacts">
                    <span class="temperature" data-temp_lvl={{body.temp_level}}>{{body.temperature}}°C</span>
                    <span>; {{ body.gravity }}g; {{ body.oxygen_amount }}% O₂</span>
                </div>
                <div class="fauna_count">{{body.fauna_count}} Fauna</div>
            
                <div class="floras">
                {% if body.flora %}
                    <div>Floras:</div>
                    {% for flora in body.flora %}
                        <div class="flora">
                            <div class="flora_name">{{loop.index+1}}. {{flora.name}} ({{flora.formid}})</div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>No Floras</div>
                {% endif %}
                </div>
            
                <div class="biomes">
                {% if body.biomes %}
                    <div>Biomes:</div>
                    {% for biome in body.biomes %}
                        <div class="biome">
                            <div>{{ biome.percentage }}% {{biome.name}} ({{biome.formid}})</div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>No Biomes</div>
                {% endif %}
                </div>
            
                <div class="traits">
                {% if body.traits %}
                    <div>Traits:</div>
                    {% for trait in body.traits %}
                    <div class="trait">
                        <img class="trait_img" src="traits/{{trait}}.png">
                        <div >{{ trait }}</div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div>No Traits</div>
                {% endif %}
                </div>
            </details>
            {% endfor %}

        </div>
	</body>
</html>
