@font-face {
    font-family: "ProFontWindows V1";
    src: url("ProFontWindows V1.woff2")format("woff2")
}
html, body{
    height: 100%;
}
.label {
    color: #ffffffb2;
    text-transform: uppercase;
    font-size: larger;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.label:hover, .forcedhover{
    z-index: 99;
    color: #ffffff;
    background-color: rgba(200, 200, 200, 0.7);
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'ProFontWindows V1', Arial, Helvetica, sans-serif;
}
#intro{
    font-family: Arial, Helvetica, sans-serif;
}
#glContainer{
    z-index: 0;
    flex-grow: 1;
    position: relative;
    background: rgb(37,46,51);
    background-image: url("bg.png");
    background-size: cover;
    background-position: center;
}
#infobox:not(.active){
    display: none;
}

#infobox{
    z-index: 99;
    position: absolute;
    left: 1em;
    top: 7em;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffffba;;
    text-transform: uppercase;
    font-size: larger;
    width: 16em;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border-color: rgba(255, 255, 255, 0.19);
    border-style: solid;
    border-width: 1px;
}
.infobox_name{
    color: white;
    font-size: x-large;
    margin-bottom: 1em;
}

#infobox_list > div{
    display: flex;
    border-color: rgba(255, 255, 255, 0.13);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2px;
}

#infobox_list > div>div:first-child{
    background-color: rgba(255, 255, 255, 0.13);
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#infobox_list > div>div:not(:first-child){
    text-align: right;
    padding-right: 0.3em;
}
#infobox_list > div > div{
    flex: 1 1 0px;
}
#infobox > .level_indicator{
    position: absolute;
    right: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#infobox > .level_indicator > div:not(:first-child)
{
    background-color: limegreen;
    padding-left: 0.2em;
    padding-right: 0.2em;
    color: black;
}
body > input{
    display: none;
}