@font-face {
    font-family: "ProFontWindows V1";
    src: url("ProFontWindows V1.woff2")format("woff2")
}

.label {
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 1em;
    font-size: larger;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.label:hover, .forcedhover{
    background-color: rgba(255, 255, 255, 0.3);
}
body{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'ProFontWindows V1', Arial, Helvetica, sans-serif;
}
#glContainer{
    flex-grow: 1;
    position: relative;
    background: rgb(37,46,51);
    background: radial-gradient(circle, rgba(37,46,51,1) 0%, rgba(13,20,25,1) 100%);
}
.nav_buttons{
    
    font-size: x-large;
    color: white;
    background-color: rgb(13,20,25);
    padding: 0.5em;
    display: flex;
    align-items: center;
}
.nav_buttons > div:not(:first-child)::before
{
    content: "→";
    opacity: 0.5;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
#system_indicator:not(.active), #infobox:not(.active){
    display: none;
}
#home_button{
    cursor: pointer;
}
#home_button:hover{
    text-decoration: underline;
}

#infobox{
    position: absolute;
    left: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffffba;;
    text-transform: uppercase;
    font-size: larger;
    width: 16em;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    border-color: rgba(255, 255, 255, 0.19);
    border-style: solid;
    border-width: 1px;
}
.infobox_name{
    color: white;
    font-size: x-large;
    margin-bottom: 1em;
}

#infobox_list > div{
    display: flex;
    border-color: rgba(255, 255, 255, 0.13);
    border-style: solid;
    border-width: 1px;
    margin-bottom: 2px;
}

#infobox_list > div>div:first-child{
    background-color: rgba(255, 255, 255, 0.13);
    padding-left: 0.3em;
    padding-right: 0.3em;
}
#infobox_list > div>div:not(:first-child){
    text-align: right;
    padding-right: 0.3em;
}
#infobox_list > div > div{
    flex: 1 1 0px;
}
#infobox > .level_indicator{
    position: absolute;
    right: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#infobox > .level_indicator > div:not(:first-child)
{
    background-color: limegreen;
    padding-left: 0.2em;
    padding-right: 0.2em;
    color: black;
}